In [73]:
import pandas as pd
import numpy as np

In [74]:
df=pd.read_csv('D:\\downloads\\spam.csv',encoding='ISO-8859-1')
df.head(3)

,category,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [75]:
new_df=df.iloc[0:,0:2]
new_df.head(2)

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...

In [76]:
new_df.groupby('category').describe()

         message                                                            \
           count unique                                                top
category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
category
ham        30
spam        4

In [77]:
from sklearn.preprocessing import LabelEncoder

In [78]:
le=LabelEncoder()

In [79]:
new_df['category']=le.fit_transform(new_df.category)

In [80]:
new_df.head(2)

   category                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...

In [81]:
from sklearn.feature_extraction.text import CountVectorizer

In [82]:
v=CountVectorizer()

In [83]:
X=v.fit_transform(new_df.message.values)

In [84]:
Y=new_df.category

In [85]:
from sklearn.model_selection import train_test_split

In [89]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25)

In [90]:
from sklearn.naive_bayes import MultinomialNB

In [69]:
model=MultinomialNB()

In [91]:
model.fit(x_train,y_train)

MultinomialNB()

In [92]:
model.score(x_test,y_test)

0.9791816223977028

In [93]:
### METHOD 2 ###

In [94]:
df=pd.read_csv('D:\\downloads\\spam.csv',encoding='ISO-8859-1')
df.head(3)

,category,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [95]:
new_df=df.iloc[0:,0:2]
new_df.head(2)

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...

In [96]:
new_df.groupby('category').describe()

         message                                                            \
           count unique                                                top
category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
category
ham        30
spam        4

In [98]:
from sklearn.preprocessing import LabelEncoder

In [99]:
le=LabelEncoder()

In [100]:
new_df['category']=le.fit_transform(new_df.category)

In [101]:
new_df.head(2)

   category                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
x_train,x_test,y_train,y_test=train_test_split(new_df.message,new_df.category,test_size=0.25)

In [104]:
from sklearn.pipeline import Pipeline

In [ ]:
P=Pipeline([('vectorizer',Count)])